* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
  background-color: #212f3c;
  color: white;
  padding: 10px 100px;
}

h1 {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.849);
  color: rgb(0, 0, 0);
  padding: 10px;
  font-size: 1.8rem;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 5px;
}

#textBox {
  display: block;
  margin: auto;
  width: 99.9%;
  background-color: crimson;
  color: yellow;
  font-size: 1.6rem;
  font-weight: bold;
}
